html, body
  margin: 0
  padding: 0

html
  min-height: 100%
  min-height: 100vh

.app
  display: flex
  flex-direction: column
  height: 100%
  height: 100vh

  &__wrapper
    display: flex
    flex-direction: column
    min-height: 100%
    min-height: 100vh

  &__content
    display: flex
    flex: 1 0 auto

  &__main
    flex: 1

h2
  font-size: 100px
  color: #fff
  font-family: $fonts.headings
  font-weight: 400
  line-height: 0.8
  text-align: center
  text-transform: uppercase
  text-shadow: 1px 0px 0px #FA364D, -1px 0px 0px #2595FA
  margin-top: 0
  margin-bottom: 15px

  @media (max-width: 1023px)
    font-size: 56px

  @media (max-width: 767px)
    font-size: 50px

h3
  font-size: 36px
  color: #fff
  font-family: $fonts.headings
  font-weight: 400
  line-height: 0.7
  text-transform: uppercase
  margin-top: 0
  margin-bottom: 20px

  @media (max-width: 1023px)
    font-size: 30px

  @media (max-width: 767px)
    font-size: 18px

.contain
  max-width: 1240px + 10px + 10px
  width: 100%
  padding-right: 10px
  padding-left: 10px
  margin: 0 auto

.button-default
  text-decoration: none
  background-color: rgba(255, 255, 255, 0.1)
  border: 1px solid #DEDEDE
  backdrop-filter: blur(23px)
  border-radius: 5px
  height: 58px
  display: flex
  align-items: center
  justify-content: center
  min-width: 200px
  padding: 10px 20px
  transition: background-color 0.3s, ease 0.3s
  cursor: pointer

  @media (max-width: 1023px)
    height: 48px

  @media (max-width: 767px)
    height: 40px

  span
    font-size: 18px
    color: #fff
    font-family: $fonts.headings
    font-weight: 400
    line-height: 1
    text-transform: uppercase

    @media (max-width: 1023px)
      font-size: 16px

    @media (max-width: 767px)
      font-size: 14px

  &:hover
    background-color: rgba(255, 255, 255, 0.3)

  .svg-icon
    color: #fff
    margin-right: 20px