.first-screen
  height: 100vh
  position: relative
  overflow: hidden

  @media (max-width: 1023px)
    height: 940px

  @media (max-width: 639px)
    height: 640px

  &__section
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 95%

  &__inner
    height: 100%