.main-menu
  &__nav
    ul
      list-style: none
      display: flex
      align-items: center
      padding-left: 0
      margin: 0

      li
        margin-right: 30px

        &:last-child
          margin-right: 0

        a
          font-size: 18px
          color: #fff
          font-weight: 500
          line-height: 1.1
          text-decoration: none

          &:hover
            background: linear-gradient(90deg, #F8425C -0.18%, #389CFF 99.82%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent